* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

table {
  font-size: .8rem;
}

.ember-table {
  max-height: 400px;
}

th {
  border: 1px solid grey;
  border-right: none;
  background: lightgrey;
}

th:last-of-type {
  border-right: 1px solid grey;
}

td {
  border: 1px solid lightgrey;
  border-right: none;
  padding: 0;
  border-bottom: none;
}

td:last-of-type {
  border-right: 1px solid lightgrey;
}

.et-tr {
  height: 30px;
}

.et-tr:hover {
  background-color: lightblue;
}

.et-tr.is-selected {
  background-color: lightskyblue;
}

.et-tr.is-selected:hover {
  background-color: lightblue;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.base-cell {
  height: 30px;
  line-height: 30px;
}

input {
  max-width: 100%;
  background-color: transparent;
  border: none;
  height: 30px;
  margin: 0;
  padding: 1px;
  outline: none;
}

input:focus {
  box-shadow: 0 1px 5px rgba(0,0,0,0.23);
  border: 2px solid royalblue;
}

select {
  height: 30px;
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
}

select:focus {
  box-shadow: 0 1px 5px rgba(0,0,0,0.23);
  border: 2px solid royalblue;
}
